

<!--Experiencia v3-->
<article class="exper-lab">
  <h1 style="text-align: center">Experiencia</h1>

  <div class="container p-4">

    <div class="row row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
      <div class="col-md-4  p-1 exp-img" id="exp_img">
        <img src="../../../assets/logo-fibermax.png" alt="" width="250px" height="auto">

      </div>

      <div class="col-md-8 p-4 d-flex flex-column position-static exp_datos">
        <h3><b>Fibermax S.A.</b></h3>
        <p class="mb-1">2016 - Actual</p>
        <p class="mb-auto ">
          Empresa proveedor servicio internet, Fibra óptica. Particulares y Corporativo
        </p>
      </div>

    </div>

    <div class="row row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
      <div class="col-md-4  p-1  exp-img" id="exp_img">
        <img src="../../../assets/logo-wis.png" alt="" width="250px" height="auto">

      </div>

      <div class="col-md-8 p-4 d-flex flex-column position-static exp_datos">
        <h3><b>Wispsolution S.A.</b></h3>
        <p class="mb-1">2016 - Actual</p>
        <p class="mb-auto ">
          Empresa proveedor servicio internet, Inalambrica, redes Ethernet, Wifi
        </p>
      </div>

    </div>

    <div class="row row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
      <div class="col-md-4  p-1 exp-img" id="exp_img">
        <img src="../../../assets/logo-sat-red2.png" alt="" width="250px" height="auto">

      </div>

      <div class="col-md-8 p-4 d-flex flex-column position-static exp_datos">
        <h3><b>Fibermax S.A.</b></h3>
        <p class="mb-1">2016 - Actual</p>
        <p class="mb-auto ">
          Empresa mantenimiento redes ethernet. Cableado Estructurado, CCTV, Satelitales.
        </p>
      </div>

    </div>
  </div>
</article>