/* Estylo Experiencia v.4*/
.exper-lab{
    background-color: #52138e;
    background-image: linear-gradient(225deg, #52138e 28%, #1e2e75 63%, #C850C0 100%);


    align-items: center;
    color: #f3f3f3;
    font-family: Verdana, sans-serif;
    padding-top: 2rem;

}

p{
    color: blanchedalmond;
}

.container{
    /*background-color: aqua;*/
    justify-content: center;
    align-items: center;

    width: 100%;
}

.exp-img{
    background-color: hsl(30, 2%, 18%);
    justify-content: space-evenly;
    align-items: center;
    display: flex;
}

.exp_datos{
    background-color: hsl(270, 40%, 34%);
    align-items: ;

}