
<article class="proyectos">
  <div class="container">
    <h1 class="text-center">Proyectos</h1>
    <div class="row p-3 proyectos-box ">

      <div class="card pt-3 m-2 box-proyecto" >
        <img src="../../../assets/cafeteria.jpg" class="img-proyecto" alt="...">
        <div class="card-body">
          <h5 class="card-title">Cafeteria/restaurante</h5>
          <p class="card-text">Proyecto: Pagina WEB Dinamica. 
            Cafeteria, Restaurant.
            </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>

      <div class="card pt-3 m-2 box-proyecto" >
        <img src="../../../assets/cctv.jpg" class="img-proyecto" alt="...">
        <div class="card-body">
          <h5 class="card-title">Fotografo</h5>
          <p class="card-text">Proyecto: Pagina WEB Dinamica. 
            Presentación, Almacenamiento.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>

      <div class="card pt-3 m-2 box-proyecto">
        <img src="../../../assets/fotografia.jpg" class="img-proyecto" alt="...">
        <div class="card-body">
          <h5 class="card-title">Empresa Seguridad</h5>
          <p class="card-text">Proyecto: Pagina WEB Estatica. 
            Cafeteria, Restaurant.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    

    </div>
  </div>



</article>