<!--<div class="container-fluid b-fondo">
    <img src="../../../assets/itfondo.webp" class="img-fondo"> 

    </div>-->

<section id="app-fondo" class="d-flex align-items-center">
  <div class="container-fluid p-5">
    <div class="row d-flex align-items-center " id="pre-fperfil">
      <div class=" col-sm-12 col-md-4">
        <h1>Porfolio</h1>
        <h2>Javier Limachi A.</h2>
        <p>Full Stack Developer Jr.</p>
        <a href="#acerca-de">About</a>
      </div>

      <div class="col-sm-12 col-md-2">
        <img src="../../../assets/fperfil.jpg" width="160px" class="img-thumbnail img-perfil">
      </div>
    </div>
  </div>
</section>
