<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/fperfil.jpg" class="img-fluid" id="fotoperfil">
    </div>

    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Javier Limachi A.</p>
        <p>Full Stack Developer Jr</p>
    </div>

    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mí</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet recusandae cupiditate est repellat, sint,
                minus numquam dignissimos itaque architecto dolore sit quaerat quidem consequatur deleniti illum ut
                labore
                nulla nostrum?</p>
        </span>
    </div>
</div>