<!--Acerca de mi opcion v2 de 1-->

<section class="about">
  <div class="container">
    <div class="about_img pt-5">
      <img src="../../../assets/f-perfil2.jpg" />
    </div>

    <div Class="about_info">
      <h2>Acerca de mi.</h2>
      <p class="">
        Mi nombre es Javier. Actualmente, trabajo en el área de Telecomunicaciones, Estudiante y autodidacta en Full
        Stack Developer.
      </p>

      <div class="about_datos">
        <h4>Nombre: <span>Javier Limachi A.</span></h4>
        <h4>Edad: <span>41 años</span></h4>
        <h4>Disección: <span>Lanús, Buenos Aires</span></h4>
        <h4>Email: <span>jlim.dwfs@gmail.com</span></h4>
      </div>
    </div>
  </div>
</section>