<!--<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/APlogo2.png " id="logoAP" class="img-fluid l_img">
         </div>
         <div class="redes">
            <a href="">  <img src="../../../assets/facebook.png" id="facebook" alt="" class="l_redes"></a>
            <a href="">  <img src="../../../assets/twiter.png"  id="twiter" alt="" class="l_redes"></a>
            <a href="">  <img src="../../../assets/instagram.png"  id="instagram" alt="" class="l_redes"></a>
            <button type="button" class="btn btn-outline-light">Login</button>
         </div>
    </div>
</div>-->

<!--   barra nabegador-->
<nav class="navbar navbar-expand-lg  px-4 px-lg-5 nav-barra">
  <div class="align-self-left nav-box">
    <img class="img-fluid nav-img" src="../../assets/APlogo2.png" width="100px" alt="" />

  </div>

  <button type="button" class="navbar-toggler nav-button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse nav-menu" id="navbarCollapse">
    <div class="navbar-nav mx-auto rounded pe-4 py-3 py-lg-0">
      <a href="index.html" class="nav-item nav-link">Acerca</a>
      <a href="about.html" class="nav-item nav-link">Experiencia</a>
      <a href="service.html" class="nav-item nav-link">Educacion</a>
      <a href="contact.html" class="nav-item nav-link">Skill</a>
      <a href="contact.html" class="nav-item nav-link">Proyectos</a>
    </div>
  </div>
  <a href="" class="btn btn px-3 d-none d-lg-block nav-button">Login</a>
</nav>