
<section class="HyS  p-4">
  <h1 class="title" style="color: #572a87; font-family: sans-serif;"><strong>Hard Skill</strong> </h1>
  <div class="container">
    <div class="row">
      <div class="col-md-8" >
        <div class="progress-title">
          <h3>HTML</h3>
          <div class="progress">
            <div class="progress-bar" style="width: 65%; background: #d76f2e">
              <div class="progress-value">65%</div>

            </div>
          </div>
        </div>

        <div class="progress-title">
          <h3>CSS</h3>
          <div class="progress">
            <div class="progress-bar" style="width: 55%; background: #1d6edf">
              <div class="progress-value">55%</div>

            </div>
          </div>
        </div>

        <div class="progress-title">
          <h3>Javascripts</h3>
          <div class="progress">
            <div class="progress-bar" style="width: 35%; background: #cdd025">
              <div class="progress-value">35%</div>

            </div>
          </div>
        </div>

        <div class="progress-title">
          <h3>GitHub</h3>
          <div class="progress">
            <div class="progress-bar" style="width: 40%; background: #434142">
              <div class="progress-value">40%</div>

            </div>
          </div>
        </div>

        <div class="progress-title">
          <h3>Bootstrap 5</h3>
          <div class="progress">
            <div class="progress-bar" style="width: 50%; background: #7618b0">
              <div class="progress-value">50%</div>

            </div>
          </div>
        </div>

        <div class="progress-title">
          <h3>Typescrip</h3>
          <div class="progress">
            <div class="progress-bar" style="width: 20%; background: #2d71ef">
              <div class="progress-value">20%</div>

            </div>
          </div>
        </div>

        <div class="progress-title">
          <h3>MySQL</h3>
          <div class="progress">
            <div class="progress-bar" style="width: 40%; background: #ba5114">
              <div class="progress-value">40%</div>

            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>