
<article class="educacion">
  <H1>Educacion</H1>
  <div class="container mt-2" style="max-width: 540px; ">
    
    <div class="row overflow-hidden flex-md-row mb-4 element-edu">
      <div class="col-3 align-self-center logo-edu">
        <img src="../../../assets/logo-eest10.png" alt="" class="img-fluid"  />
      </div>

      <div class="col-9 mx-auto d-flex flex-column position-static datos-edu">
        <h4>Escuela Tecnica N° 10</h4>
        <p>Secundaria:  Técnico en Informática Profesional y Personal</p>
      </div>
    </div>

    <div class="row overflow-hidden flex-md-row mb-4 element-edu">
      <div class="col-3 align-self-center logo-edu">
        <img src="../../../assets/logo_idetel2.png" alt="" class="img-fluid"  />
      </div>

      <div class="col-9 mx-auto d-flex flex-column position-static datos-edu">
        <h4>IDETEL</h4>
        <p>Titulo:  Tec. Redes Inalambricas</p>
      </div>
    </div>

    <div class="row overflow-hidden flex-md-row mb-4 element-edu">
      <div class="col-3 align-self-center logo-edu">
        <img src="../../../assets/logo_idetel2.png" alt="" class="img-fluid"  />
      </div>

      <div class="col-9 mx-auto d-flex flex-column position-static datos-edu">
        <h4>IDETEL</h4>
        <p>Titulo:  Tec. Fibra Optica</p>
      </div>
    </div>

    <div class="row overflow-hidden flex-md-row mb-4 element-edu">
      <div class="col-3 align-self-center logo-edu">
        <img src="../../../assets/logo_idetel2.png" alt="" class="img-fluid"  />
      </div>

      <div class="col-9 mx-auto d-flex flex-column position-static datos-edu">
        <h4>Idetel</h4>
        <p>Titulo:  Tec. Mediciones de redes de ftth y enlaces de fibra óptica</p>
      </div>
    </div>







  </div>
</article>

